---
sudo: false
language: ruby
cache: bundler
bundler_args: --without development system_tests
before_install:
  - bundle -v
  - rm Gemfile.lock || true
  - gem update --system
  - gem update bundler
  - gem --version
  - bundle -v
script:
- bundle exec rake $CHECK
matrix:
  fast_finish: true
  include:
  - rvm: 1.9.3
    env: PUPPET_VERSION="~> 3.0" STRICT_VARIABLES="yes" CHECK=test
  - rvm: 1.9.3
    env: PUPPET_VERSION="~> 3.0" STRICT_VARIABLES="yes" FUTURE_PARSER="yes" CHECK=test
  - rvm: 2.1.10
    env: PUPPET_VERSION="~> 3.0" STRICT_VARIABLES="yes" CHECK=test
  - rvm: 2.1.10
    env: PUPPET_VERSION="~> 4.0" CHECK=test
  - rvm: 2.2.5
    env: PUPPET_VERSION="~> 4.0" CHECK=test
  - rvm: 2.3.1
    env: PUPPET_VERSION="~> 4.0" CHECK=build DEPLOY_TO_FORGE=yes
  - rvm: 2.3.1
    env: PUPPET_VERSION="~> 4.0" CHECK=rubocop
  - rvm: 2.3.1
    env: PUPPET_VERSION="~> 4.0" CHECK=test
  - rvm: 2.4.0-preview1
    env: PUPPET_VERSION="~> 4.0" CHECK=test
  allow_failures:
  - rvm: 2.4.0-preview1
notifications:
  email: false
deploy:
  provider: puppetforge
  user: dhoppe
  password:
    secure: "DwZQehUuDCVCjj/7a82Bj6at+JXcF5b6Rl7impaFnia9QgvEPvdt72cxX04SkPfLM99wy/x3RPqHeEfyoPMHoR9SpUKnFWFChumkW794qpWFCweG18vOr9P+E6PGUp3xRXHar7Yv1BGg/pdEajq+s97NQJn42pkhanl6v8JD5MI="
  on:
    tags: true
    # all_branches is required to use tags
    all_branches: true
    # Only publish the build marked with "DEPLOY_TO_FORGE"
    condition: "$DEPLOY_TO_FORGE = yes"
